<md-card class="example-card" class="mat-elevation-z12" fxLayout="column">
  <md-card-header fxLayoutAlign="center center">
    <md-card-title>
      <img class="login-icon" src="/assets/img/icon.png" fxFlexAlign="center" />
    </md-card-title>
  </md-card-header>
  <md-card-content fxLayout="column">
    <form fxLayout="column">
      <md-input-container>
        <input mdInput name="email" placeholder="E-mail" type="email" [(ngModel)]="email" required>
      </md-input-container>
    </form>
  </md-card-content>
  <md-card-actions fxLayout="row" fxLayoutAlign="end center">
    <button md-raised-button fxFlex color="primary" (click)="resetPassword()">Recover password</button>
  </md-card-actions>
    <a routerLink="/login" fxFlexAlign="center">Back to login</a>
</md-card>

