@import "../../../scss/color.scss";

@mixin safety-button() {
  background-color: $grapefruit;
  color: white;
  margin: 6px;
}

:host {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  position: fixed;
  right: 30px;
  bottom: 30px;
  z-index: 200;

  & /deep/ .mat-mini-fab {
    @include safety-button();
  }
}

.mat-fab {
  @include safety-button();
  transition: 300ms ease all;
}

.rotated {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
