<div class="container" fxLayout fxLayoutAlign="center" fxFlexFill>
  <div fxFlex="70">
    <div fxFlex="50" fxLayout="column">
      <md-card id="balance">
        <md-card-content>
          <p>Olá, {{displayName}}</p>
          <p>{{accountBalance | currency:'BRL':true}}</p>
        </md-card-content>
      </md-card>
    </div>

    <div fxFlex="50" fxLayout="column">
      <md-card id="quick-access">
        <button md-button>
          <md-icon>add</md-icon>
          <span>Despesa</span>
        </button>
        <button md-button>
          <md-icon>add</md-icon>
          <span>Receita</span>
        </button>
      </md-card>

      <md-card id="my-accounts">
        <div *ngFor="let account of accountList | async">
          {{ account.title }}
        </div>
      </md-card>
    </div>
  </div>
</div>

<app-fab>
  <button md-mini-fab mdTooltip="Cadastrar conta" mdTooltipPosition="before" (click)="accountFormDialog()" ><md-icon>account_balance</md-icon></button>
  <!--<button md-mini-fab mdTooltip="Cadastrar categoria" mdTooltipPosition="before" (click)="categoryFormDialog()" ><md-icon>bookmark</md-icon></button>-->
  <!--<button md-mini-fab mdTooltip="Cadastrar lançamento" mdTooltipPosition="before" (click)="entryFormDialog()" ><md-icon>payment</md-icon></button>-->
</app-fab>
